body {
    align-items: center;
    align-content: center;
    background-color: aliceblue;
    color: #40414e;
}

.cloud1 {
    height: 150px;
    position: absolute;
    right: 15%;
    top: 5%;
}

.cloud2 {
    height: 135px;
    position: absolute;
    left: 10%;
    bottom: 35%;
    z-index: 1;
}

.mountain {
    position: relative;
    top: 36px;
}

.top {
    padding-top: 200px;
    text-align: center;
    position: relative;
    background-color: rgb(195, 223, 238);
    margin-bottom: 25px;
}

.profile {
    margin: 100px auto 1px auto;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    width: 50%;
}

.second {
    margin: 10px auto 100px auto;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    width: 50%;
    text-align: left;
}

.third {
    margin: 50px auto 100px auto;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    width: 50%;
    text-align: left;
}

.fourth {
    background-color: rgb(214, 232, 251);
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
}

.vrishab {
    font-size: 100px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    font-family: "Sacramento", cursive;
    line-height: 1.5;
}

span {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #66bfbf;
    line-height: 3;
}

h2 {
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    color: #11999e;
    font-size: 40px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 2;
}

body {
    margin: 0;
}

.myimg {
    border-radius: 10000px;
}

h1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    text-align: center;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 1px;
}

h2 {
    font-size: 40px;
    margin-bottom: 0;
}

.div12 {
    border-style: none;
    border-top-style: dotted;
    border-color: #eaf;
    border-width: 10px;
    width: 5%;
    background-color: aliceblue;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 100px auto 100px auto;
}

.skill {
    width: 25%;
    float: left;
    padding-right: 20px;
}

.lets {
    display: inline;
    padding-bottom: 0;
    padding-right: 10px;
    font-size: 15px;
    margin: 0 auto 0 auto;
}

.insta {
    height: 25px;
    display: inline;
    position: relative;
    top: 6.5px;
    transition: 0.4s;
}

.insta:hover {
    opacity: 0.5;
    cursor: pointer;
}

.linkedin {
    height: 25px;
    display: inline;
    position: relative;
    top: 6.5px;
    transition: 0.4s;
}

.linkedin:hover {
    opacity: 0.5;
    cursor: pointer;
}
.copyright{
    color: rgb(68, 76, 76);
    font-size: 10px;
    padding: 15px 0 20px 0;
    margin: 0;
}